<!DOCTYPE html>
<html>
   <head>
   	<title>Blog GVD</title>
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
   	<link rel="stylesheet" href="/stylesheets/main.css">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   <body>

   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/blogs">Mi Blog<span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
            <% if (currentUser) { %>
               <a id="currentUser_header" class="pull-right"><strong><%= currentUser.username %>!</strong></a>
            <% } %>
         </div>

         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="headerButtons">
               <a href="/blogs/new" class="btn btn-success">Nuevo Blog</a>
               <% if (!currentUser) { %>
                  <a href="/register" class="btn btn-danger">Registrarse</a>
                  <a href="/login" class="btn btn-danger">Identificarse</a>
               <% } else { %>
                  <a href="/logout" class="btn btn-danger">Salir</a>
               <% } %>
            </ul>
         </div>
      </div>
   </nav>

   <% if (success_messages && success_messages.length > 0) { %>
      <div class="alert alert-success" role="alert">
            <%= success_messages %>
      </div>
   <% } %>

   <% if (error_messages && error_messages.length > 0) { %>
      <div class="alert alert-danger" role="alert">
         <%= error_messages %>
      </div>
   <% } %>
